* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;=\[]
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

.container {
    width: 155px;
    height: 155px;
    margin: 0 auto 0 auto;
}

.fields {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 35px;
}

#box1,
#box4,
#box7 {
    border-right: 1px solid black;
}

#box3,
#box6,
#box9 {
    border-left: 1px solid black;
}

#box1,
#box2,
#box3 {
    border-bottom: 1px solid black;
}

#box7,
#box8,
#box9 {
    border-top: 1px solid black;
}
